body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#imageAndCanvas {
    display: grid;
    position: relative;
}

#imageAndCanvas > img {
    z-index: 0;
}

#imageAndCanvas > canvas {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    width: 100%;
    height: auto;
}

#customAlert {
    display: none;
    z-index: 1050;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 1rem;
}

#customAlert .btn {
    margin-top: 0.5rem;
}
